{% extends 'layouts/main.html' %} {% block title %}About{% endblock %} {% block content %}

<div class="page-header">
    <h1>About AGH ENV Sense</h1>
</div>
<p class="lead">Goals</p>
<p>This project was developed to gain knowledge and skills of NB-IoT usage and integration of NB-IoT based sensors network with web platform.</p>
<br>
<p class="lead">Technology</p>
<p>To send sensor readings NB-IoT is used. Each reading is sent via HTTP, which saved a lot of time to accomplish the solution. However using HTTP over NB-IoT is not considered a good practice, since it needs to send a lot of additional data. </p>

{% endblock %}