{% extends 'layouts/main.html' %} {% block title %}About{% endblock %} {% block content %}

<div class="page-header">
    <h1>{{ sensor_name }}</h1>
</div>
<p class="lead">These are readings from {{ sensor_name }}</p>

<div style="margin:auto; width: 1200px; height: 700px">
    <canvas id="readingsChart"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var sensor_name = "{{ sensor.name }}"
    var label = "{{ sensor.measured_quantity }}"
    var initialPeriod = {
        "begin": "{{ period_begin }}",
        "end": "{{ period_end }}"
    }
</script>
<script src="/static/js/graph.js"></script>
{% endblock %}